<div id="nav" style="margin-top: 8rem;">
    <ul class="nav-menu clearfix unstyled"> 
        <li><a routerLink="/homepage" class="three-d"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Home</a></li>
      <li><a routerLink="/Technews" class="three-d">
        Tech News
        <span class="three-d-box"><span class="front">Tech News</span><span class="back">Tech News</span></span>
      </a></li>
      <li><a routerLink="/Businessnews"class="three-d">
        Business News
        <span class="three-d-box"><span class="front">Business News</span><span class="back">Business News</span></span>
      </a></li>
      <li><a routerLink="/Sportsnews" class="three-d">
        Sports
        <span class="three-d-box"><span class="front">Sports</span><span class="back">Sports</span></span>
      </a></li>
      <li><a routerLink="/Politicsnews"  class="three-d">
        Politics 
        <span class="three-d-box"><span class="front"> Politics </span><span class="back"> Politics</span></span>
      </a></li>
      <li><a routerLink="/Healthnews"  class="three-d">
        Health
        <span class="three-d-box"><span class="front"> Health</span><span class="back"> Health</span></span>
      </a></li>
      <li><a routerLink="/Sciencenews"  class="three-d">
        Science
         <span class="three-d-box"><span class="front"> Science</span><span class="back"> Science</span></span>
       </a></li>
      <li><a routerLink="/Entertainmentnews"  class="three-d">
        Entertainment
        <span class="three-d-box"><span class="front"> Entertainment</span><span class="back"> Entertainment</span></span>
      </a></li>
      <li><a routerLink="/local-news"  class="three-d">
        Local News
        <span class="three-d-box"><span class="front"> Local News</span><span class="back"> Local News</span></span>
      </a></li>
      
    </ul>
  </div> 
