<nav class="navbar bg-body-tertiary" style="height: 80px;">
    <div class="container-fluid">
        <a class="press2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-solid fa-bars" style="color: #000000;"></i> Press Daily<span class="s2"> e-PAPER</span></a>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 340px;">
            <div class="offcanvas-header" style="width: 340px;">
              <h5 class="offcanvas-title fs-3" id="offcanvasScrollingLabel">Press Daily<span class="s2"> e-PAPER</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-dark" style="width: 340px; cursor: pointer;">
                <a style="text-decoration: none; color: #ffffff;" routerLink="/admin-home"><i class="fa-solid fa-home" style="color: #ffffff;"></i>&nbsp; Home</a>
                <hr>
                <a style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-square-plus" style="color: #ffffff;"></i> &nbsp;Add News</a>
                <hr>
                <!-- <a><i class="fa-solid fa-gears" style="color: #ffffff;"></i>&nbsp; Services</a>
                <hr> -->
                <a><i class="fa-solid fa-address-card" style="color: #ffffff;"></i>&nbsp; Contact Us</a>
                <hr>
            </div>
          </div>
    </div>
</nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-4 mt-5">
            <!-- Image -->
            <img class="card-img-top mb-5 mb-md-0"
                    src={{allLocalNews.ImageURL}} alt="..." />
        </div>
        <div class="col-8 mt-5">
            <div class="head">
                <h2>{{allLocalNews.heading}}</h2>
                <p>{{allLocalNews.NewsCategories}}</p>
                <p>{{allLocalNews.Date}}</p>
            </div>
        </div>
        <div class="content">
            <p>{{allLocalNews.NewsContent}}</p>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="text-center text-white" style="background-color: #ffffff;">
    <!-- Grid container -->
    <div class="container  pb-0 pt-4" style="height: 60px;">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
                    class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <!-- Copyright -->
</footer>
